/*
 *= require_tree .
 *= require_self
 */


/*------------- Nav styles ----------------------*/

nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

.alpha-menu {
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
}

.alpha-menu li {
  display: inline-block;
}

.alpha-menu a {
  font-weight: normal;
  margin: 10px 10px;
  padding: 5px 5px;
}