/*
 *= require_tree .
 *= require_self
*/


/*------------- General styles ------------------*/

body {
  background-color: #FFF5ED;
  color: #8B8D8B;
  font-family: 'Dosis', sans-serif;
}

#content {
  max-width: 950px;
  margin: 0 auto;
  border: 2px solid #5D7090;
  border-radius: 3px;
  padding: 20px;
}


/*------------- Text styles ---------------------*/

h3 {
  border-bottom: 2px solid #5D7090;
  padding-bottom: 5px;
  margin-top: 0;
}


/*------------- Nav styles ----------------------*/

nav {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.alpha-menu {
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
}

.alpha-menu li {
  display: inline-block;
}

.alpha-menu li .active {
  background-color: #5D7090;
  border-radius: 3px;
}

.alpha-menu a {
  font-weight: normal;
  margin: 10px 5px;
  padding: 5px 5px;
  text-decoration: none;
}

.alpha-menu a,
.alpha-menu a:visited,
.alpha-menu a:hover {
  color: #8B8D8B;
}

.alpha-menu a.active {
  color: #FFF5ED;
}