/*
 *= require_tree .
 *= require_self
*/


/*------------- General styles ------------------*/

body {
  background-color: #fff5ed;
  color: #8b8d8b;
  font-family: 'Dosis', sans-serif;
}

#content {
  max-width: 950px;
  margin: 0 auto;
  border: 2px solid #5d7090;
  border-radius: 3px;
  padding: 20px;
}


/*------------- Text styles ---------------------*/

h3 {
  border-bottom: 2px solid #5d7090;
  padding-bottom: 5px;
  margin-top: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #babcba;
}


/*------------- Nav styles ----------------------*/

nav {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.alpha-menu {
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
}

.alpha-menu li {
  display: inline-block;
}

.alpha-menu li .active {
  background-color: #5d7090;
  border-radius: 3px;
}

.alpha-menu a {
  font-weight: normal;
  margin: 10px 5px;
  padding: 5px 5px;
  text-decoration: none;
}

.alpha-menu a,
.alpha-menu a:visited,
.alpha-menu a:hover {
  color: #8b8d8b;
}

.alpha-menu a.active {
  color: #fff5ed;
}


/*------------- Form styles ---------------------*/

form {
  margin-bottom: 30px;
}

input[type="text"] {
  border: solid 1px #5d7090;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
}

input[type="submit"] {
  background-color: #bbc8dd;
  color: #5d7090;
  border: solid 1px #5d7090;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #5d7090;
  margin-left: 10px;
  padding: 5px 8px;
}