/*
 *= require_tree .
 *= require_self
*/


/*------------- General styles ------------------*/

body {
  background-color: #fff5ed;
  color: #8b8d8b;
  font-family: 'Dosis', sans-serif;
}

#content {
  max-width: 950px;
  margin: 0 auto;
  border: 2px solid #5d7090;
  border-radius: 3px;
  padding: 20px;
}


/*------------- Text styles ---------------------*/

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #5d7090;
  font-size: 2.8em;
  text-align: center;
}

h3 {
  border-bottom: 2px solid #5d7090;
  padding-bottom: 5px;
  margin-top: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #babcba;
}


/*------------- Nav styles ----------------------*/

nav {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.alpha-menu {
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
}

.alpha-menu li {
  display: inline-block;
}

.alpha-menu li .active {
  background-color: #5d7090;
  border-radius: 3px;
}

.alpha-menu a {
  font-weight: normal;
  margin: 10px 5px;
  padding: 5px 5px;
  text-decoration: none;
}

.alpha-menu a,
.alpha-menu a:visited,
.alpha-menu a:hover {
  color: #8b8d8b;
}

.alpha-menu a.active {
  color: #fff5ed;
}


/*------------- Form styles ---------------------*/

form {
  margin-bottom: 30px;
}

input[type="text"] {
  border: solid 1px #5d7090;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
}

input[type="submit"] {
  background-color: #bbc8dd;
  color: #5d7090;
  border: solid 1px #5d7090;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #5d7090;
  margin-left: 10px;
  padding: 5px 8px;
}


/*------------- Colour List styles --------------*/

.colour-list {
  list-style: none;
  padding-left: 0;
}

.colour-list li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #5d7090;
}

.colour-list #black {
  background-color: #000;
}

.colour-list #blue {
  background-color: #5d7090;
}

.colour-list #brown {
  background-color: #90846c;
}

.colour-list #cream {
  background-color: #ddd2bb;
}

.colour-list #lilac {
  background-color: #d1c4e9;
}

.colour-list #red {
  background-color: #d46a6a;
}

.colour-list #white {
  background-color: #fff;
}

.colour-list #spotted {
  background: radial-gradient(#000, #90846c);
}

.colour-list #tabby {
  background: linear-gradient(to right, #90846c, #000);
}

.colour-list #tortoiseshell {
  background: radial-gradient(#000, #d46a6a);
}

.colour-list #cream a,
.colour-list #lilac a {
  color: #90846c;
}


/*------------- Animal Meanings styles ----------*/

.animal-meanings p,
.random-button p,
.pairs-button p {
  display: inline-block;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #5d7090;
  background-color: #ddd2bb;
}

.animal-meanings p a,
.random-button p a,
.pairs-button p a {
  color: #90846c;
}