p.female,
.name-details.female i,
.name-details.female .name-field {
  color: #bb8f9b;
}

.name-details.female .name-field {
  border-color: #bb8f9b;
}

p.male,
.name-details.male i,
.name-details.male .name-field {
  color: #5d7090;
}

.name-details.male .name-field {
  border-color: #5d7090;
}